################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DecoratorPattern/v16/Server/sqlite3
/DecoratorPattern.sln.DotSettings.user
